<div id="assigned-numbers" class="container" style="<%= 'padding-right:0;' if @number %>">
  <div class="<%= 'col-md-8' if @number %>">
    <div class="page-header">
      <h1>
        ASSIGNED NUMBERS
        <span class="glyphicon glyphicon-plus-sign pull-right"></span><br>
        <small>Click on a row below to edit cover number details.</small>
      </h1>
    </div>
    <% if !@assigned_numbers.empty? %>
      <table class='table'>
        <thead>
          <tr>
            <th>COVER NUMBER</th>
            <th>REAL NUMBER</th>
            <th>STATUS</th>
            <th>USER</th>
            <th>COUNTRY</th>
            <th>LINK</th>
          </tr>
        </thead>
        <tbody>
          <% @assigned_numbers.each do |assigned_number| %>
            <tr data-id="<%= assigned_number.id %>">
              <td><%= assigned_number.cover_number %></td>
              <td><%= assigned_number.real_number %></td>
              <td><%= assigned_number.status %></td>
              <td><%= assigned_number.username %></td>
              <td>+<%= assigned_number.country %></td>
              <td><span class="glyphicon glyphicon-link"></span></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    <% else %>
      <p align='center'>There are no mobilePBX Assigned Numbers for this account.</p>
    <% end -%>
  </div>
  <%= render :partial => "edit" if @number %>
</div>
